<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comments</title>
  </head>
  <style>
    .name {

    },
    .comment {

    }
  </style>
  <body>
    <center>
      <h1>Feedback Page</h1>
      <center>
      <% comments.forEach(comment => { %>
        <div id='name'>
          <%-comment.name %>
        </div>
        <div id='comment'>
          <%-comment.adjective %>
        </div>

  <% }) %>
  </center>
    </center>
  </body>
  <script type="text/javascript">
    JSON.readFileSync('comments.json')
  </script>
</html>
