<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Comments</title>
</head>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    height: 150px;
  }

  .box {
    position: relative;
    width: 320px;
    border: 1px solid #000000;
    margin: 10px;
    float: left;
    background-color: #474e5d;
  }

  .name {
    border: 1px solid #000000;
    color: black;
    width: 300px;
    margin: 10px;
    background-color: #FFFFFF;
    overflow-wrap: break-word;
  }

  .comments {
    border: 1px solid #000000;
    color: black;
    width: 300px;
    margin: 10px;
    height: 100px;
    background-color: #FFFFFF;
    overflow-wrap: break-word;
    overflow-y: scroll;
  }

  #bigbox {
    width: 90%;
    height: 500px;
    text-align: center;
    border: 1px solid #FFFFFF;
  }

  #tag {
    top: 10px;
    float: left;
    position: absolute;
    width: 500px;
    overflow-wrap: normal;
  }

  #feedback {
    position: relative;
    text-align: center;
    width: 30%;
    margin: auto;
  }

  #submit {
    margin: 10px;
    float: right;
    position: absolute;
    cursor: pointer;
  }

  #button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
  }

  #button2 {
    border: none;
    outline: 0;
    padding: 8px;
    color: #FFF;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
    width: 20%;
    position: absolute;
    bottom: 110px;
    down: 125px;
  }

  #button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: #474e5d;
    background-color: #474e5d;
    text-align: center;
    cursor: pointer;
    width: 15%;
    position: absolute;
    top: 110px;
    right: 125px;
  }

  #bottom-bar {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    background-color: #474e5d;
    color: #FFF
  }
</style>

<body>
  <center>
    <div class='about-section'>
      <div id='feedback'>
        <h1>Feedback Page</h1>
        <p>Team F</p>
        <p>Post any comments here</p>
      </div>
      <div id='tag'>
        <form action="/comments" method="post">
          <p1>Name</p1>
          <br>
          <input type="text" name="name" placeholder="Enter Name Here" value="">
          <br>
          <br>
          <p1>Comments</p1>
          <br>
          <input type="text" name="comments" placeholder="Enter Comments Here" value="" style="height:100px;width:300px">
          <input id='submit' type="submit" value="Submit" action="comments">
        </form>
      </div>
      <p><a href="/"><button typle="button1" id="button1">To Main Page</button></a></p>
      <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"><button typle="button2" id="button2"></button></a></p>
      <form method="post" action="/clearcomments">
        <input id="button" type="submit" value="Clear Comments">
      </form>
    </div>
  </center>
  <center>
    <div id="bigbox">
      <% comments.forEach(comment => { %>
      <div class="box">
        <div class="name">
          Name: <%-comment.name %>
        </div>
        <div class="comments">
          Comment: <%-comment.adjective %>
        </div>
      </div>

      <% }) %>
    </div>
  </center>
</body>
<footer>
  <div class="w3-container w3-theme-l1" id="bottom-bar">
    <p>Powered by Life of Team F</p>
  </div>
</footer>

</html>
