<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feedback</title>
  </head>

  <body>
    <center>
    <form action="/feedback" method="post">
      <p1>Name</p1>
      <br>
      <input type="text" name="name" placeholder="Enter Name Here" value="">
      <br>
      <br>
      <p1>Comments</p1>
      <br>
      <input type="text" name="comments" placeholder="Enter Comments Here" value="" style="height:100px;width:300px">
      <br>
      <br>
      <input type="submit" value="Submit" action="comments">
    </form>
    </center>

  </body>
</html>
